#scoreboard{
    width:300px;
}

#card{
    width:100px;
}

#background{
    width: 800px;
}

#overlay-scoreboard {
    position: absolute;
    top: 10em;
    left: 8.5em;
    margin: 0;
    padding: 0;
}

#overlay-card {
    position: absolute;
    margin: 0;
    top: 1em;
    left: 1em;
    padding: 0;
}

body{
    background-image: url('../img/soccer.png');
    background-position: left top;
    background-repeat: no-repeat;
}