#scoreboard{
    width:300px;
}

#card{
    width:100px;
}

#background{
}

#overlay-scoreboard {
    position: absolute;
    top: 10em;
    right: 55em;
    margin: 0;
    padding: 0;
}

#overlay-card {
    position: absolute;
    margin: 0;
    top: 1em;
    right: 75em;
    padding: 0;
}

body{
    background-image: url('../img/soccer.png');
    background-position: center top;
    background-repeat: no-repeat;
}