/* 422C1F */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 1em;
    text-align: center;
    font-family: "Orbitron";
    color: lightgoldenrodyellow
}

body {
    text-align: center;
    background-image: url('img/sky.png');
}

.grass-section {
    width: 100%;
    background-image: url('img/grass.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 64px;

}

.ground-section {
    padding-top: 0.2em;
    padding-bottom: 2em;
    width: 100%;
    background: linear-gradient(to bottom, #422C1F 0%, #422C11 30%, black 100%);
}

#game-area {
    position: relative;
    width: 60em;
    height: 25em;
    margin: 0 auto;
}

#tank {
    position: absolute;
    left: 47%;
    bottom: 0;
    width: 4em;
    height: 2.3em;
    background-color: green;
}

#turret {
    position: absolute;
    width: 3em;
    height: 0.5em;
    background-color: brown;
    transform-origin: left center; /* for pivoting */
    left: 50.3%;
    bottom: 1.13em;
}


#controls {
    width: 20em;
    margin: 0em auto;
    font-family: 'Courier New', Courier, monospace;
}

#angle-slider {
    width: 200px;
}

#fire-button {
    width: 10em;
    height: 3em;
    background-color: red;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#fire-button:active {
    background-color: darkred;
}

.number {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.number-value {
    position: relative;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.plane {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    clip-path: polygon(50% 0%, 100% 40%, 80% 100%, 20% 100%, 0% 40%);
    transform: rotate(90deg);
    z-index: 1;
}

.cannonball {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: black;
    border-radius: 50%;
    display: none;
}

#fire-and-restart-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#phone-number {
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#power-bar-container {
    width: 13em;
    height: 20px;
    border: 3px solid black;
    margin: 1em auto;
    position: relative;
}

#power-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(to left, red, green);
}

#restart-button {
    height: 3em;
    background-color: #33a;
    color: white;
    padding: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#angle-value {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}